aa: {{diagnostic}}
<div class="container">
    <div>
      <h1>Item: {{item.name}}</h1>
      <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id"
                  readonly
                  [(ngModel)]="item.id" name="id"
                  #id="ngModel">
        </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
                required
                [(ngModel)]="item.name" name="name"
                #name="ngModel">
      </div>

      <div class="form-group">
          <label for="price">price</label>
          <input type="text" class="form-control" id="price"
                  required
                  [(ngModel)]="item.price" name="price"
                  #price="ngModel">
        </div>

        <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
                [(ngModel)]="item.description" name="description">
      </div>

      <div class="form-group">
        <label for="category">item category</label>
        <input type="text" class="form-control" id="category"
                [(ngModel)]="item.category" name="category">
      </div>

      <button type="button" class="btn btn-default" (click)="addToCart()">Add to cart</button>
      <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
    </div>
  
  </div>