<button (click)="openFilter()">Filters</button>
<br/>
Page size:
<select [(ngModel)]="storeService.pageSize" (change)="onPageSizeChange()">
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="50">50</option>
</select>
<br/>
<!--span>Total items: {{storeService.count}}, Page: {{storeService.page}}, page size: {{storeService.pageSize}}</span-->
<div class="container">
  <div class="row" *ngFor="let item of storeService.items">
    <div class="col-md-1">
      <a routerLink="/admin/item/{{item.id}}">{{item.id}}</a>
    </div>
    <div class="col-md-2">
      <a routerLink="/admin/item/{{item.id}}">{{item.name}}</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/admin/item/{{item.id}}">{{item.category}}</a>
    </div>
    <div class="col-md-1">
      <a routerLink="/admin/item/{{item.id}}">{{item.price}}</a>
    </div>
    <div class="col-md-1" *ngIf="authenticationService.currentUserValue.role == 'admin'">
      <button class="btn btn-default" title="delete item" (click)="delete(item)">Delete</button>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="storeService.page"
  [pageSize]="storeService.pageSize"
  [collectionSize]="storeService.count"
  (pageChange)="onPageChange($event)"></ngb-pagination>

<br/>
<a routerLink="/admin/new_item" class="btn btn-default"  
    *ngIf="authenticationService.currentUserValue.role == 'admin'">Add new Item
</a>

