/* You can add global styles to this file, and also import other style files */
/*
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
*/
@import '~@angular/cdk/overlay-prebuilt.css';

body {
    padding: 20px;
}

.row > div {
    margin-top:5px;
    padding: 10px;
 }

 input[type=number]{
    width: 40px;
}  


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-overlay {
    width: 1000px;
    height: 1000px;
    opacity: 0.3;
    background: lightgrey;
    text-align: center;
    padding: 10px;
    margin: 0;
  }